<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streaming Audio</title>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
</head>
<body>
    <nav class="navbar fixed-bottom navbar-light bg-secondary" style="height: 60px;">
        <div class="container">
            <div class="col start-50">
                <audio controls id="audioPlayer">
                    Your browser does not support the audio element.
                </audio>            
            </div>
            
        </div>
    </nav>
    <!-- <audio controls id="audioPlayer">
        Your browser does not support the audio element.
    </audio> -->
    <button onclick="startplay('(C88)(同人音楽)(東方)[FELT] World Trick (TTA+CUE+特典)/02. New World.flac')">Play</button>
    <button onclick="startplay('2V-ALK (FLAC 24bit／96kHz)/02. Amazing Trees.flac')">Play</button>
    <script>
        
        function base64ToArrayBuffer(base64) {
            var binary_string =  window.atob(base64);
            var len = binary_string.length;
            var bytes = new Uint8Array( len );
            for (var i = 0; i < len; i++)        {
                bytes[i] = binary_string.charCodeAt(i);
            }
            return bytes.buffer;
        }

        function byteToBlob(byteArray) {
        
            return new Blob([byteArray], {type: 'audio/flac'});
        }

        function appendBuffer(buffer1, buffer2) {
            var tmp = new Uint8Array(buffer1.byteLength + buffer2.byteLength);
            tmp.set(new Uint8Array(buffer1), 0);
            tmp.set(new Uint8Array(buffer2), buffer1.byteLength);
            return tmp;
        };
        

        function startplay(filename) {
            const socket = io();
            var playable = false;
            var buff_c = new Uint8Array();
            // 接收音频数据块并播放
            socket.on('audio_chunk', function(data) {
                if (data == 'end') {
                    socket.disconnect();
                    console.log('end')
                    playable = true;
                } else {
                    const audioPlayer = document.getElementById('audioPlayer');

                    const buff = base64ToArrayBuffer(data)
                    buff_c = appendBuffer(buff_c, buff)
                    const blob = byteToBlob(buff_c);

                    const blobUrl = URL.createObjectURL(blob);
                    audioPlayer.src = blobUrl;
                    
                    // audioPlayer.oncanplaythrough = function() {
                    //     console.log('audioPlayer.oncanplaythrough')
                    //     // audioPlayer.play();
                    // };  
                   
                }
                if (playable) {
                    document.getElementById('audioPlayer').play();
                }
                else {
                    document.getElementById('audioPlayer').pause();
                }
            });
            socket.emit('stream_audio', {filename: filename});
            document.getElementById('audioPlayer').play();
        }

        
    </script>
</body>
</html>
